
<form [formGroup]="paymentForm" (ngSubmit)="formSubmit(paymentForm.value)">
<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12" role="tabpanel">
            <div class="col-xs-4 col-sm-12">
                <ul class="nav nav-justified" id="nav-tabs" role="tablist">
                    <li role="presentation" class="">
                        <a href="#paypal" aria-controls="paypal" role="tab" data-toggle="tab" class="paymrnt-icon">
                            <img src="assets/images/if_paypal_213733.svg" class="img-responsive" />
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
            <div class="col-xs-8 col-sm-12">
                <div class="tab-content" id="tabs-collapse">            
                    <div role="tabpanel" class="tab-pane fade in active" id="paypal">
                        <div class="tab-inner"> 
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <input type="tel" class="form-control" name="cardCVC" placeholder="Enter your name" autocomplete="cc-csc" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="tel" class="form-control" name="cardNumber" placeholder="Valid Card Number" autocomplete="cc-number" required="" aria-required="true">
                                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                        </div>
                                    </div>                            
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-md-7">
                                    <div class="form-group">
                                        <input type="tel" class="form-control" name="cardExpiry" placeholder="MM / YY" autocomplete="cc-exp" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-xs-5 col-md-5 pull-right">
                                    <div class="form-group">
                                        <input type="tel" class="form-control" name="cardCVC" placeholder="CVC" autocomplete="cc-csc" required="" aria-required="true">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row" style="display:none;">
                                <div class="col-xs-12">
                                    <p class="payment-errors"></p>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>        
        </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <input [disabled]="!deliverDayForm.valid" type="submit" class="btn btn-success btn-bordered pull-right" value="Pay Now">
    </div>
  </div> 
</form>